@using Nota1.Models
@model Nota
@{
    ViewBag.Title = "Crie sua Anotação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="form-horizontal ">
        <h4>Nota</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.Label("Selecione Tipo", new { @class = "control-label col-md-2" })
            <div class="dropdown dropdown-menu col-md-3">
                @Html.DropDownListFor("ListaTipo")
                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                @Html.TextArea("Textos", "", new { @class = "form-control" })
                </div>
        </div>
        <div class="form-group">
            @Html.Label("Selecione os topicos", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <select id="multiselectTopico" name="topicos" multiple="multiple">
                @foreach (var listaTopico in (List<Topico>)ViewBag.ListaTopico)
                {
                    <option  value="@listaTopico.id">@listaTopico.nome</option>
                }
                </select>

            </div>
        </div>

        <div class="form-group">
               
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar" class="btn btn-default" />
                </div>
            </div>
        </div>
 }




