@model Nota1.Models.Usuario

@{
   Layout = "~/Views/Shared/Inicial.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="loginmodal-container">
            <h2 style="color:aquamarine">Logue-se</h2>
            <br>
            @using (Html.BeginForm())
            {
                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.PasswordFor(model => model.senha, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Login" class="btn btn-default" />
            }
            <form >
                <input style="color:gray" type="submit" value="Registrar" class="btn btn-default" formaction="/Usuario/Create" />
            </form>

            <div id="modalLogin" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-danger" id="gridSystemModalLabel">@ViewBag.erro</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" >Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
     </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


    @if (ViewBag.erro != null)
    {
        <script>
            mostraModalLogin();
        </script>
    }
    

